/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';  /* Project id 1453047 */
    src: url('//at.alicdn.com/t/c/font_1453047_t991hxs3vjo.eot?t=1716361409171'); /* IE9 */
    src: url('//at.alicdn.com/t/c/font_1453047_t991hxs3vjo.eot?t=1716361409171#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//at.alicdn.com/t/c/font_1453047_t991hxs3vjo.woff2?t=1716361409171') format('woff2'),
         url('//at.alicdn.com/t/c/font_1453047_t991hxs3vjo.woff?t=1716361409171') format('woff'),
         url('//at.alicdn.com/t/c/font_1453047_t991hxs3vjo.ttf?t=1716361409171') format('truetype'),
         url('//at.alicdn.com/t/c/font_1453047_t991hxs3vjo.svg?t=1716361409171#iconfont') format('svg');
  }

  .iconfontCommon{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }